::-webkit-scrollbar {   /* * Ширина скролбара */
	width: 10px;
}
::-webkit-scrollbar-track {   /* * Цвет полосы скролбара */
	background: var(--color-background);
}
::-webkit-scrollbar-thumb {   /* * Ползунок скролбара */
	background: var(--color-content);

	border-radius: 8px;
}