/* &============================= Setting  ==============================*/

.wrapper {
	width: 100%;
	min-height: 100vh;

	overflow: hidden;
}

._container {   
	width: 100%;
	max-width: var(--container-width);

	margin: 0 auto;
	padding: 0 var(--container-offset);
}

html, body {
	background-color: var(--background-color);
}
body._modal-open {   // ^ Запрет скрола при открытие модального окна
	height: 100vh;

	overflow-y: hidden;

	padding-right: 10px;   // ^ Предотвращение дёрганья сайта
}

section {
	text-align: center;

	margin-bottom: 50px;


	@media (max-width: 900px) {
		margin-bottom: 20px;
	}
}

.footer {
	background-color: var(--color-title);

	font-size: 12px;
	font-style: italic;

	height: 50px;



	&__content {
		width: 100%;
		height: 50px;

		display: flex;
		align-items: center;
		justify-content: center;
	}
}

/* &===========================================================*/
/* &============================= Common Styles ==============================*/

.title {   // * Стили заголовка
	background-color: var(--color-title);

	width: 500px;

	display: inline-block;

	padding: 10px 5px;
	margin-bottom: 15px;

	border-radius: var(--border-radius);

	font-size: 24px;
	font-weight: 600;
	text-align: center;

	@media (max-width: 900px) {
		width: 270px;

		margin-bottom: 10px;

		font-size: 18px;
	}
}

.subtitle {   // ^ Подзаголовок
	width: 300px;

    font-size: 20px;

    padding: 5px;

	@media (max-width: 900px) {
		width: 150px;

		font-size: 16px;
	}
}

.modal__window {   // ^ Модальное окно
	opacity: 0;
	visibility: hidden;

	position: fixed;
	top: 0;
	left: 0;

	z-index: 100;

	width: 100%;
	height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: var(--color-semi-black);

	overflow: hidden;


	transition: .5s linear;

	cursor: pointer;


	& > img {   // ^ Картинка в модальном окне
		
	}
}
.modal__window._active {   // ^ Проявление модального окна
	opacity: 1;
	visibility: visible;
}

.modal__close {   // ^ Кнопка закрытия модального окна
	position: absolute;

	top: 15%;
	right: 15%;

	font-size: 40px;

	cursor: pointer;
}

/* &===========================================================*/