/* &============================= Variable ==============================*/

:root {
	--main-font: 'Merriweather', serif;
	--font-size: 16px;
	@media (max-width: 900px) {
		--font-size: 14px;
	}
	--font-weight: 400;

	--content-width: 1440px;   // * Контент
	--container-offset: 10px;   // * Отступы
    --container-width: calc(var(--content-width) + (var(--container-offset) * 2));   // * итоговый контейнер

	--border-radius: 20px;

	--color-black: #000;
	--color-semi-black: #000000e1;
	--color-white: #fff;

	--color-set-background: #212121;   // * Цвет для заднего фона 
	--color-set-content: #0D7377;   // * Цвет для контента 
	--color-set-load-content: #323232;   // * Цвет используемый при загрузке картинок 
	--color-set-accent: #14FFEC;   // * Акцент 

	--transition-default: 0.3s linear;
}

/* &===========================================================*/

html {
	--font-color: var(--color-white);

	--background-color: var(--color-set-background);
	--color-block: var(--color-set-load-content);
	--color-content: var(--color-set-content);
	--color-title: var(--color-set-content);
	--color-help: var(--color-set-load-content);
}