:root {   // ^ Переменные размера карты
    --card-width: 300px;
    --card-height: 150px;
    @media (max-width: 900px) {
        --card-width: 240px;
        --card-height: 120px;
    }
}
.about {

    &__section {
    }

    &__title {
    }

    &__row {   // ^ Стили размещения карточек в секции
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));
        align-content: center;
        justify-items: center;
        justify-content: center;
        gap: 15px;


        @media (max-width: 600px) {   // ^ Переход на флексы
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__card {   // ^ Стили карты
        width: var(--card-width);    
        height: var(--card-height);

        padding: 10px;

        background-color: var(--color-block);

        overflow: hidden;

        border-radius: var(--border-radius);

        display: flex;
        flex-direction: column;


        @media (max-width: 900px) {   // ^ Расширение на всю страницу
            width: 100%;
        }
    }


    &__info {   // ^ Картинка и заголовок карточки
        display: flex;
        align-items: end;

        margin-bottom: 15px;
    }


    &__img {   // ^ Картинка карточки
        position: relative;

        width: 40px;
        height: 40px;


        & img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            object-fit: cover;
        }
    }


    &__info-title {   // ^ Заголовок карточки
        font-size: 20px;
        font-weight: 700;

        margin-bottom: 2px;
        margin-left: 5px;
    }


    &__description {   // ^ Описание карточки
        text-align: left;
    }
   
}


