
.award {

    &__section {
        
    }

    &__title {
    }

    &__content {   // ^ Размещение достижений
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        justify-items: center;
        gap: 20px;
    }

    &__item {   // ^ Карточки достижений
        width: 350px;
        height: 180px;

        position: relative;

        border-radius: var(--border-radius) / 2;

        box-shadow: 0 0 10px var(--color-content);

        transition: var(--transition-default);
    }
}
.card {   // ^ Отдельные стили карточки
    background-color: var(--color-set-content);
    border: 2px solid var(--color-set-accent);
    border-radius: var(--border-radius);

    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: start;

    overflow: hidden;

    transition: var(--transition-default);


    @media (max-width: 900px) {   // ^  Расширение карточки на весь экран
        width: 100%;
    }


    &._active {   // ^ Разворот карточки появление тени
        transform: rotateY(180deg);

        cursor: default;

        box-shadow: 0 0 25px var(--color-content);
    }


    &__title {   // ^ Заголовок карточки
        font-size: 24px;

        margin-bottom: 10px;
    }


    &__description {   // ^  Описание карточки
        flex: 1 1 auto;

        text-align: left;
    }

    &__button {   // ^ Кнопки для раскрытия
        align-self: end;

        padding: 5px;

        background-color: var(--color-set-accent);

        border-radius: calc(var(--border-radius) / 2);

        transition: var(--transition-default);

        cursor: pointer;


        &:hover {   // ^ Появление тени при наведении
            box-shadow: 0 0 10px var(--color-set-accent);
        }
    }


    &__img {   // ^ Картинка карточки
        position: absolute;

        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        opacity: 1;
        visibility: visible;

        transform: rotateY(180deg);

        transition: var(--transition-default);


        &._hidden {   // ^ Стиль скрытия картинки
            opacity: 0;
            visibility: hidden;
        }


        & > img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            object-fit: cover;
        }
    }
}

